body{
	border: 2px;
	border-color: cadetblue;
	margin: 20px 150px 20px 150px;
}

.nav_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 65px;
}
.nav_item{
	display: flex;
	flex-direction: row;
	width: 300px;
	justify-content: space-around;
}
.menu_button {
	margin-left: 3%;
	height: 65px;
	width: 50px;
}
.menu_button img {
	max-width: 50px;
	max-height: 65px;
}
.logo {
	margin-left: 5%;
	height: 65px;
	width: 200px;
}
.logo img {
	width: 110px;
	max-height: 65px;
}
.search_bar input{
	width:  60%;
}
.search {
	height: 50px;
	width: 70px;
	padding: 0px;
}
.search img {
	margin: 0px;
	max-width: 50px;
	max-height: 50px;
}
.button_upload {
	background-color: yellow;
	height: 50px;
	width: 50px;
}
.button_upload img {
	max-width: 50px;
	max-height: 50px;
}
.sign_in {
	margin-left: 5%;
	margin-right: 3%;
	height: 50px;
	border: none;
	color: white;
	background-color: rgb(1, 1, 190);
}

#video{
	margin-top: 20px;
	float: left;
}

.video_list{
	background-color: blueviolet;
	height: 100%;
	width: 300px;
	float: right;
	display: flex;
	flex-direction: column;
}

.thumbnail{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
}

.thumbnail img{
	max-width: 50%;
	max-height: 100%;
	
}

.thumbnail_text{
	
	background-color: cornsilk;
	max-width: 40%;
}

